


body{
    margin:0;
    padding: 0;
}


/* container============= */
.container-fluid{
   background-color: rgb(76, 165, 169);
    margin: 5px;
    padding: 10px; 
}

.list-group{ 
    position: static;     
}

h1{
    color: rgba(255, 255, 255, 0.653);
    text-align: center;
}

#search-button{
    color: white;
    background-color: rgb(65, 147, 174);
    margin-top: 10px;
    width: 170px;
}

#citName{
    position: relative;
    color: white;
    background-color: rgb(63, 130, 152);
    width: 170px;
    text-align: center;
    margin: 5px 0 ;
}

.weather-hr{
    
    width: 170px;
    margin-left: -1px;
}

/* current weather card===========================  */
 #currentCard{
    background-color: rgb(82, 115, 141);
    position: relative;
    bottom:  100px;
    color: #fff;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: 180px;
 }
 
 #cityLI {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    width: 100%;
    padding: 20px;
}

#currentCityNameDiv{

    display:flex;
    gap:20px;
    align-items:center;
}

#currentInfoDiv{
 display:flex;
    gap:20px;
}


#cityLI img{
    width: 150px;
    height: 150px;
}


p{

     margin: 0;  
}

h4{
    margin-top: 10px;
}

/* next 5 days cards================ */
#dayForecast{

    position: relative;
    margin-left: 40px ;
    margin-bottom: 5px;
    font-size: 20px;
}

.cards{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 10px;
 }

.weatherCard{
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    background-color: rgb(82, 115, 141);
    border-radius: 5px;
    font-size: 13px;
    height: 250px;
    margin: auto 5px;
   align-items: center;
}









 



